// DIMENSIONS

  // Extra small screen / phone
  $xs: 0;
  // Small screen / phone
  $sm: 576px;
  // Medium screen / tablet
  $md: 768px;
  // Large screen / desktop
  $lg: 992px;
  // Extra large screen / wide desktop
  $xl: 1200px;

// DIMENSIONS

// COLORS

$white: #fff;
$dark: #2f2f2f;
$ash: #606c88;
$ash-dark: #3f4c6b;
$green-light: #C9FFBF;
$green-earthly: #649173;
$green-eco: #5DD167;
$orange-peach: #FFAFBD;
$purple-insta: #B993D6;
$blue-purple: #8CA6DB;
$blue-light: #00d2ff;
$blue-dark: #3a7bd5;
$brown-candy: #D3959B;
$red-nelson: #f2709c;
$orange-nelson: #ff9472;

// COLORS