/*---------- GLOBALS ----------*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import 'variables';
*{
	box-sizing: border-box;
}

body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto';
	color: $ash-dark;
	overflow-x: hidden;
}

h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

ul{
	list-style-type: none;
}

.container{
	width: 90%;
	margin: auto;
}

.color-blue-light{
	color: $blue-light;
}

.bg-blue-light{
	background-color: $blue-light;
}

.box-shadow-md{
	box-shadow:  0 -4px 15px 0px rgba(0,0,0,0.5);
}

.flex{
	display: flex;
}

.align-items-center{
	align-items: center;
}

.space-between{
	justify-content: space-between;
}

.justify-content-center{
	justify-content: center;
}

.left{
	float: left;
}

.right{
	float: right;
}

.navbar-toggle{
	display: none;
	font-size: 30px;
	float: right;
}

.overlay-dark{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1025;
}


.mobile-only{
	display: none;
}

/*---------- GLOBALS ----------*/


.page-wrapper{
	width: 100%;
	position: relative;
	overflow-x: hidden;
}


/*---------- HEADER ----------*/
.header{
	min-height: 70px;
	display: flex;
	align-items: center;
	
	a{
		font-weight: 600;
		&:hover{
			color: $blue-light;
		}
	}

	.nav{
		
		ul.nav-list{

			li.nav-item{
				display: inline-block;

				a{
					margin: 0 10px;
				}
			}
		}
	}
}
/*---------- HEADER ----------*/

/*---------- SHOWCASE ----------*/

section#showcase{
	width: 100%;
	position: relative;
	background: url('../img/showcase.jpg') no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 60vh;
	z-index: 5;
	
	div.overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		background: $dark;
		opacity: 0.65;
		z-index: 7;
	}

	.presentation{
		position: relative;
		width: 100%;
		margin: auto;
		z-index: 10;
		padding: 18vh 0;

		.heading{
			font-size: 34pt;
			color: $white;
			z-index: 15;
			margin: auto;
			text-align: center;
		}
	}

	.form-area{
		position: relative;
		z-index: 30;
		div.input-area{
			margin: 0 10px;

			input[type="text"]{
				position: relative;
				width: 30em;
				padding: .9em 3em .9em .4em;
				border-radius: 3px;
				border: 0;
				color: $ash;
				font-weight: 600;
				font-size: 16px;

				&::placeholder{
					color: $ash;
					font-size: 16px;
					font-weight: 600;
				}
			}

			button.submit{
				border: 0;
				border-radius: 3px;
				background: $blue-light;
				color: $white;
				padding: .9em 4em;
				font-size: 16px;
				font-weight: 600;

				&:hover{
					background: #00b6dd;
					cursor: pointer !important;
				}
			}
		}
	}


}

/*---------- SHOWCASE ----------*/



/*---------- RESULTS ----------*/

.container-result{
	width: 80%;
	margin: auto;
}

section#results{
	h2.heading{
		text-align: center;
		margin: 25px 0;
		font-size: 30pt;
		color: $ash-dark;
	}

	.results{

		.result-card{
			justify-content: space-evenly;
			border-radius: 6px;
			padding: 10px 20px;
			box-shadow: 0 0 35px -15px rgba(0,0,0,.5);
			margin: 1.5em 0;
			cursor: pointer;

			&:hover{
				background: rgba(0, 0, 0, 0.03);
			}

			.result-col{
				margin: 10px 20px;
			}

			.image-area{
				width: 10em;
				height: 8em;
				border-radius: 7px;
				overflow: hidden;
				position: relative;
				img{
					width: 100%;
					height: auto;
				}
			}
			.result-content{

				h3{
					font-size: 24pt;
				}

				.result-desc{
					width: 50vh;
					margin-top: 15px;
					font-size: 13px;
				}
			}

			.result-price{
				position: relative;
				span.price{
					font-size: 33pt;
					position: relative;
					top: 30%;
					color: $green-eco;
				}
			}
		}
	}
	.showmore-area{
			width: 100%;
			margin: 20px auto;
			text-align: center;

			button#showmore{
				border: 0;
				color: $white;
				padding: 1em 3em;
				border-radius: 5px;
				font-size: 16px;
				font-weight: 600;
				cursor: pointer;

				&:hover{
					background: #00b6dd;
				}
			}
		}
}

/*---------- RESULTS ----------*/


/*---------- MEDIA QUERIES ----------*/

@media screen and (max-width: $lg) {
	/*---------- RESULTS ----------*/

#results{

	div.results{

		div.result-card{

			.image-area{
				position: relative;

				img{
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

	/*---------- RESULTS ----------*/	
}


@media (min-width: $sm) and (max-width: $md){
	.result-card{

		.image-area{
			height: 80vh !important;
		}
	}
}


@media screen and (max-width: $md){

	.mobile-only{
		display: block;
	}

.overlay-dark{

	&.active{
		display: block;
	}
}

	/*HEADER*/

.header{
	
	.nav{
		width: 40% !important;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background: $white;
		z-index: 1030;
		box-shadow: 0 0 15px rgba(0,0,0,0.3);
		transition: ease-in .3s;
		transform: translateX(120%);
		visibility: hidden;
	
		&.active{
			display: block !important;
			transition: ease-in .3s;
			transform: translateX(0%);
			visibility: visible;
		}

		ul.nav-list{
			padding: 0 !important;
			margin: 0 !important;
			li.nav-item{
				display: block !important;
				padding: 10px 0;

				&:hover{
					background: rgba(0,0,0,0.15);
					a{
						color: $ash-dark;
					}
				}

				a{
					padding: 10px 20px;
					color: $ash-dark;
				}
			}

			li.nav-item-profile.mobile-only.profile{
				display: block;
				margin: auto auto 5px auto;
				padding: 10px;
				border-left: 3px solid $blue-light;
				border-bottom: 1px solid rgba(0,0,0,0.1);
				box-shadow: 0 4px 10px -8px rgba(0, 0, 0, 0.5);

				div.image-area{
					width: 70px;
					height: 70px;
					margin: auto;
					border-radius: 50%;
					overflow: hidden;

					img{
						width: 70px;
						height: auto;
					}
				}

				div.info-area{
				    width: 100%;
				    position: relative;
				    top: 15px;
				    display: flex;
				    margin-bottom: 15px;
				    margin: auto auto 15px auto;
				    text-align: center;
				    justify-content: center;

				    a{
				    	padding: 5px 10px;
				    	span{
				    		font-size: 16pt;
				    		color: rgba(0,0,0,0.5);

				    		&:hover{
				    			color: $ash-dark;
				    		}
				    	}
				    }
				}
			}
		}
	}

	.navbar-toggle{
		display: block;
		cursor: pointer;
	}
}

	/*HEADER*/

	/*SHOWCASE*/
	
#showcase{
	.presentation{

		h2{
			font-size: 25pt !important;
		}
	}

	.form-area{
		width: 100% !important;
		margin: auto;

		.input-area{
			width: 100% !important;
			margin: auto;

		&.btn{
			width: auto !important;
		}

			input{
				width: 100% !important;
				margin: auto;
			}
		}
	}
}

	/*SHOWCASE*/

	/*RESULTS*/
#results{
	
	.results{

		.result-card{
			display: block;
			.image-area{
				position: relative !important;
				width: 100% !important;
				height: auto;
				margin: auto !important;
			}
			.result-content{
				margin: 0 !important;
				h3{
					text-align: center;
					margin: 5px 0;
				}
				.result-desc{
					width: 90% !important;
					margin: 1em auto !important;
					font-size: 12px !important;
				}
			}
			.result-price{
				margin: auto;

				span.price{
					display: block;
					text-align: center !important;
					font-size: 28pt !important;
				}
			}
		}
	}
}
	/*RESULTS*/
}

@media screen and (max-width: $sm){

	/*HEADER*/
		h1.brand{
			font-size: 20pt;
		}

		.header nav.nav.active{
			width: 60% !important;
		}
	/*HEADER*/

	/*SHOWCASE*/
#showcase{
	min-height: 65vh !important;
}

#showcase .presentation .heading{
	font-size: 18pt !important;
}

#showcase .form-area{
	.form{
		display: block !important;
		.input-area{
			display: block !important;
			margin: .6em 0;
			width: 100% !important;

			button{
				width: 100%;
			}
		}
	}

}

	/*SHOWCASE*/

}


@media (max-width: 300px){

	.header nav.nav.right{
		width: 75% !important;

		ul.nav-list{

			li.nav-item-profile{

				.info-area{

					a{

						span.fa{
							font-size: 13pt !important;
						}
					}
				}
			}
		}
	}

	/*SHOWCASE*/
	#showcase{

		.presentation{

			h2.heading{
				font-size: 19px !important;
			}
		}

		.form-area{

			form.form{

				.input-area{
					input{
						font-size: 14px !important;
					}
					&.btn{
						button{
							font-size: 14px !important;
						}
					}
				}
			}
		}
	}
	/*SHOWCASE*/

	/*RESULTS*/
	#results{

		h2.heading{
			font-size: 24pt !important;
		}

		.results{

			.result-card{
				h3{
					font-size: 18pt !important;
				}

				.result-price{

					span.price{
						font-size: 24pt !important;
					}
				}
			}
		}
	}
	/*RESULTS*/

	/*SHOWMORE AREA*/
	.showmore-area{

		button#showmore{
			font-size: 14px !important;
		}
	}
	/*SHOWMORE AREA*/

}

/*---------- MEDIA QUERIES ----------*/